.Loading-indicator {
  animation: Loading-indicator-spin infinite 4s linear;
  height: 80px;
}

.Loading-container {
  padding: 16px;
}

@keyframes Loading-indicator-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}